<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugong.xiuadmin.dao.UserDao">
    <select id="queryAll" resultType="com.bugong.xiuadmin.entity.User">
      SELECT * FROM user;
    </select>
</mapper>