<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bugong.xiuadmin.dao.UserDao">
    <sql id="queryPageSql">
          SELECT * FROM user
    </sql>
    <select id="queryPage" resultType="com.bugong.xiuadmin.dto.UserDto">
        <include refid="commonQuery.defaultQueryPage" />
    </select>

    <sql id="queryAllSql">
          SELECT * FROM user
    </sql>
    <select id="queryAll" resultType="com.bugong.xiuadmin.dto.UserDto">
        <include refid="commonQuery.defaultQueryAll" />
    </select>

    <sql id="queryCountSql">
        SELECT * FROM user
    </sql>
    <select id="count" resultType="Integer">
        <include refid="commonQuery.defaultQueryCount" />
    </select>
</mapper>